@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

/* :::::::::: menulist :::::::::: */

menulist
{
	padding: 2px;
	background-color: var(--light-highlight-20);
	min-width: 4em;
	-moz-box-flex: 1;
	font-size: 9pt;
	margin: 2px 4px;
}

menulist:not([disabled]):hover
{
	background-color: var(--light-highlight-strong);
}

menulist:not([disabled])[open]
{
	background-color: var(--light);
	color: var(--dark);
}

.menulist-label-box
{
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 1px;
	border: 1px solid transparent;
	background-color: transparent;
	color: inherit;
	-moz-box-align: center;
}

.menulist-icon[src]
{
	margin: 0 2px;
}

.menulist-label
{
	margin-top: 0 !important;
	-moz-margin-end: 0 !important;
	margin-bottom: 0 !important;
	-moz-margin-start: 1px !important;
}

.menulist-description
{
	font-style: italic;
	color: GrayText;
	-moz-margin-start: 1ex !important;
}

/* ..... focused state ..... */

menulist:-moz-focusring:not([open]) > .menulist-label-box
{
	border: 1px dotted #F5DB95;
}

/* ..... disabled state ..... */

menulist[disabled]
{
	opacity: .4;
}

/* ::::: editable menulists ::::: */

html|*.menulist-editable-input
{
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	background: inherit;
	font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact
{
	-moz-appearance: none;
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 0;
	-moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
	-moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
	background-color: ThreeDFace;
	color: ButtonText;
	list-style-image: url(chrome://global/skin/arrow/arrow-dn.gif);
}

.menulist-compact > .menulist-label-box > .menulist-label
{
	margin: 0 3px !important;
	text-align: end;
}

.menulist-compact > .menulist-label-box > .menulist-icon
{
	-moz-margin-start: 2px;
}

.menulist-compact[open]
{
	-moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
	-moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
	-moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

.menulist-compact[disabled]
{
	list-style-image: url(chrome://global/skin/arrow/arrow-dn-dis.gif);
}

.menulist-compact:-moz-focusring:not([open]) > .menulist-label-box
{
	border: 1px dotted;
}

menulist:-moz-focusring:not([open]):not(.menulist-compact) > .menulist-label-box
{
	border: 1px dotted ThreeDDarkShadow;
}