@import url(chrome://global/skin/vars.css);

resizer
{
	background-image: url(chrome://browser/skin/SVGs/resizer.svg);
	background-repeat: no-repeat;
	background-position: 4px calc(100% - 4px);
	cursor: se-resize;
	width: 15px;
}

window resizer
{
	filter: var(--fill-light-base);
}

resizer[rtl=true],
resizer[dir=bottomend]:-moz-locale-dir(rtl)
{
	transform: scaleX(-1);
}

resizer[dir=left],
resizer[dir=bottomleft],
resizer[dir=bottomstart]
{
	transform: scaleX(-1);
}

resizer[dir=bottomleft],
resizer[dir=bottomstart]:not([rtl=true]):not(:-moz-locale-dir(rtl)),
resizer[dir=bottomend][rtl=true]
{
	cursor: sw-resize;
}

resizer[dir=top],
resizer[dir=bottom]
{
	cursor: ns-resize;
}

resizer[dir=left],
resizer[dir=right]
{
	cursor: ew-resize;
}

resizer[dir=topleft]
{
	cursor: nw-resize;
}

resizer[dir=topright]
{
	cursor: ne-resize;
}

html resizer
{
	background-color: hsl(0, 0%, 99.5%);
	border: 1px solid rgba(0, 0, 0, .04);
	border-bottom-width: 0;
	border-right-width: 0;
}

html resizer[dir=bottomleft],
html resizer[dir=bottomstart]
{
	border: 1px solid rgba(0, 0, 0, .04);
	border-left-width: 0;
}