@import url(vars.css);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons
{
	-moz-appearance: none;
	border: 0;
	background: none;
	cursor: default;
	-moz-margin-start: 6px;
}

spinbuttons[disabled]
{
	filter: var(--fill-light-base);
}

.spinbuttons-box
{
	-moz-box-orient: horizontal;
}

.spinbuttons-button
{
	min-width: 12px;
	min-height: 11px;
	margin: 0 !important;
	padding: 0;
	-moz-image-region: auto;
}

.spinbuttons-button > .button-box
{
	border: 0;
}

.spinbuttons-button .button-icon
{
	filter: var(--fill-light-base);
}

.spinbuttons-button:not([disabled]):hover:active .button-icon
{
	filter: var(--fill-dark-base);
}

textbox .spinbuttons-button
{
	background: none;
	border: 0;
}

textbox .spinbuttons-button .button-icon
{
	filter: var(--fill-dark-base);
}

textbox .spinbuttons-button:not([disabled]):hover
{
	background-color: var(--dark-highlight);
}

textbox .spinbuttons-button:not([disabled]):hover:active
{
	background-color: var(--dark);
}

textbox .spinbuttons-button:not([disabled]):hover:active .button-icon
{
	filter: var(--fill-light-base);
}

.spinbuttons-up,
.spinbuttons-down
{
	-moz-appearance: none;
}

.spinbuttons-up
{
	list-style-image: url(chrome://browser/skin/SVGs/zoomin.svg);
}


.spinbuttons-down
{
	list-style-image: url(chrome://browser/skin/SVGs/zoomout.svg);
}