/* ::::: toolbarbutton ::::: */

toolbarbutton
{
	-moz-box-align: center;
	-moz-box-pack: center;
	border-style: solid;
	border-color: transparent;
	border-width: 4px;
	background-color: transparent;
	background-clip: padding-box;
	font-size: 10pt;
	color: inherit;
	min-height: 28px;
	min-width: 24px;
	padding: 5px;
}

.toolbarbutton-icon[label]:not([label=""])
{
	-moz-margin-end: 5px;
}

.toolbarbutton-text
{
	margin: 0 !important;
	transform: translateY(-1px);
	text-align: center;
}

toolbarbutton.tabbable
{
	-moz-user-focus: normal !important;
}

toolbarbutton:-moz-focusring
{
	outline: 1px dotted;
	outline-offset: -1px;
}

toolbarbutton[disabled=true]
{
	opacity: .4;
}

toolbarbutton:not([disabled=true]):hover
{
	background-color: var(--light-highlight);
}

toolbarbutton:not([disabled=true]):-moz-any([checked=true], [open], :hover:active)
{
	background-color: var(--light-base);
	color: var(--dark);
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker
{
	padding: 0;
	border-style: solid;
	border-width: 5px 0;
	-moz-border-start-width: 5px;
	border-color: transparent;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type=menu-button],
toolbarbutton[type=menu-button]:hover,
toolbarbutton[type=menu-button]:hover:active,
toolbarbutton[type=menu-button][open],
toolbarbutton[type=menu-button][checked]
{
	-moz-box-align: stretch;
	-moz-box-orient: horizontal !important;
	border: 0;
	background: 0;
	padding: 0;
}

/*.toolbarbutton-menubutton-button
{
	-moz-box-align: center;
	-moz-box-pack: center;
	-moz-box-orient: vertical;
}*/

toolbarbutton[type=menu-button]:not([checked=true])
{
	color: inherit !important; /* fix for split menu buttons that can be [checked] */
}

toolbarbutton[type=menu-button][checked=true] > .toolbarbutton-menubutton-button
{
	background-color: var(--light-base);
	color: var(--dark);
}

.toolbarbutton-menubutton-button
{
	-moz-border-end-width: 0;
	padding: 5px !important; /* force some third party buttons */
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker
{
	padding: 3px;
	border: 4px solid transparent;
	-moz-border-start-width: 0;
	background-clip: padding-box;
	width: auto;
}

toolbarbutton:not([buttonover]):hover > .toolbarbutton-menubutton-dropmarker
{
	background-color: var(--light-highlight);
}

toolbarbutton:not([buttondown]):-moz-any(hover:active, [open]) > .toolbarbutton-menubutton-dropmarker
{
	background-color: var(--light-base);
}

toolbarbutton:-moz-any([open], :hover:active) > .toolbarbutton-menu-dropmarker > .dropmarker-icon,
toolbarbutton:not([buttondown])[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon
{
	filter: var(--fill-dark-base);
}